* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    max-width: 800px;
    min-width: 300px;
}
.counter {
    background-color: #FFFFFF;
    border: 3px #800080 solid;
    width: 60%;
    margin: 15px 25px;
    padding: 20px;
    border-radius: 10px;
}
hr {
    border: 2px #800080 solid;
}
h1 {
    border: 2px solid #800080;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: underline;
    color: #808080;
    margin-bottom: 15px;
    width: 100%;
}
img {
    border: 3px solid #800080  !important;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

ul {
    list-style: none;
    color: #800080;
    font-weight: bold;
    font-size: 20px;
}
strong {
    color: #808080;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #800080;
    font-weight: bold;
    font-size: 20px;
}
.p {
    font-size: 20px;
    color: #808080;
    font-weight: 700;
    border: #800080 3px solid;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 15px;
    margin-top: 15px;
    text-align: center;
}
.my-p {
    text-align: justify;
}